<a href="https://colab.research.google.com/github/senandungarimbichh/Praktikum-Struktur-Data-Sem-2/blob/main/Latihan_Week_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# latihan 1
data = []
npm_mahasiswa = [2430506050, 2430506051, 2430506052, 2430506053]
print("npm_mahasiswa:", npm_mahasiswa)

npm_mahasiswa: [2430506050, 2430506051, 2430506052, 2430506053]

In [ ]:
# latihan 2
data = []
npm_mahasiswa = [50, 51, 52, 53]
print("npm_mahasiswa:", npm_mahasiswa)
# mengakses elemen array
print("elemen pertama:", npm_mahasiswa[0])   # elemen pertama
print("elemen terakhir:", npm_mahasiswa[-1])   #elemen terakhir
# menghapus elemen menggunakan remove()
npm_mahasiswa.remove(50)   # menghapus nilai 50
print("array setelah menghapus elemen 50:", npm_mahasiswa)
# menghapus elemen menggunakan pop()
npm_mahasiswa.pop(2)   # menghapus elemen pada indeks ke-2
print("array setelah menghapus elemen pada indeks 2:", npm_mahasiswa)

npm_mahasiswa: [50, 51, 52, 53]
elemen pertama: 50
elemen terakhir: 53
array setelah menghapus elemen 50: [51, 52, 53]
array setelah menghapus elemen pada indeks 2: [51, 52]

In [ ]:
# latihan 3
Fakultas_Untidar = ["Fakultas Teknik",
    "Fakultas Ekonomi dan Bisnis",
    "Fakultas Ilmu Sosial dan Ilmu Politik",
    "Fakultas Pertanian",
    "Fakultas Keguruan dan Ilmu Pendidikan"]

for Fakultas in Fakultas_Untidar:
  print("Fakultas:", Fakultas)

Fakultas: Fakultas Teknik
Fakultas: Fakultas Ekonomi dan Bisnis
Fakultas: Fakultas Ilmu Sosial dan Ilmu Politik
Fakultas: Fakultas Pertanian
Fakultas: Fakultas Keguruan dan Ilmu Pendidikan

In [ ]:
# latian 4
harga_barang = [10000, 20000, 30000, 40000, 50000]

print("Jumlah total :", sum(harga_barang))
print("Nilai maksimum :", max(harga_barang))
print("Nilai minimum :", min(harga_barang))

Jumlah total : 150000
Nilai maksimum : 50000
Nilai minimum : 10000

In [ ]:
# latian 5
data = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
data
print("isi array 2D:")
for baris in data:
    print(baris)

isi array 2D:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
# latian 6
matriks = [
    [1,2,3,4],   # Baris ke-0
    [5,6,7,8],   # Baris ke-1
    [9,10,11,12] # Baris ke-2
]
print("elemen pada baris 2, kolom 4 :", matriks [1][3])

elemen pada baris 2, kolom 4 : 8

In [ ]:
# latian 7
matriks = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
matriks.append([11,4,20,6])
print("isi array setelah ditambahkan elemen baru:", matriks)

isi array setelah ditambahkan elemen baru: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [11, 4, 20, 6]]

In [ ]:
# latian 8
matriks = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
matriks[2].remove(10)
print("isi array setelah menghapus elemen ke3 dari baris terakhir:", matriks)

isi array setelah menghapus elemen ke3 dari baris terakhir: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 11, 12]]

In [ ]:
# latian 9
matriks = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
matriks[2][3] = 20
print("isi array setelah mengubah elemen baris ke3, kolom ke 4:", matriks)

isi array setelah mengubah elemen baris ke3, kolom ke 4: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 20]]

In [ ]:
# latian 10
belanja = ["pajero", "innova reborn", "civic turbo"]
belanja.append("porsche")
belanja.remove("pajero")
print("daftar belanja terbaru:", belanja)

daftar belanja terbaru: ['innova reborn', 'civic turbo', 'porsche']